/* DashboardPage.css */

 body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: white;
 }
/* Adjust padding for content below navbar */
.content-below-navbar {
  padding-top: 100px; /* Adjust based on the height of your navbar */
}

.info2{
  margin-top: -170px;
  margin-right: 300px;
  /* margin-bottom: 150px; */
  margin-left: 40px;
  margin-bottom: 100px;
}
.info2 h1{
  /* font-size: 100px; */
  color: white;
  font-size: 50px;
  font-weight: bold;
  
}

.info2 p{
  /* font-size: 100px; */
  color: white;
  font-size: 20px;
  padding-top: 20px;
 padding-left: 10px;
  
  word-wrap: break-word;
}
 
.search-ins {
  text-align: center;
  color: red;
  font-size: 1.3em;
  font-weight: bold;
  margin-top: 60px;

  
}


 
 @media screen and (max-width: 768px) {
  .info2{
    margin-top: -170px;
    margin-right: 0px;
    margin-left: 20px;
    margin-bottom: 170px;
  }
  .info2 h1{
    font-size: 30px;
  }
  .info2 p{
    font-size: 15px;
  }
  .search-ins {
    margin-top: 100px;
    margin-bottom: 10px;
  }
}