/* Button styles */
.btnNew {
  background: #ff9f67 !important;
  font-family: "Josefin Sans", sans-serif !important;
  text-transform: capitalize;
  padding: 25px 25px !important;
  color: #fff;
  cursor: pointer;
  display: inline-block !important;
  font-size: 16px;
  font-weight: 600;
  border-radius: 5px;
  line-height: 1;
  -moz-user-select: none;
  user-select: none;
  letter-spacing: 1px;
  line-height: 0;
  margin-bottom: 0 !important;
  transition: color 0.4s linear;
  position: relative;
  z-index: 1;
  border: 0;
  overflow: hidden;
  margin: 0;
  text-decoration: none;
}

.btnNew::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 101%;
  height: 101%;
  background: #ae59ff;
  z-index: 1;
  border-radius: 5px;
  transition: transform 0.5s;
  transition-timing-function: ease;
  transform-origin: 0 0;
  transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
  transform: scaleX(0);
  border-radius: 0px;
}

.btnNew:hover {
  background-position: right;
}

.btnNew:hover::before {
  transform: scaleX(1);
  color: #fff !important;
  z-index: -1;
}

/* Responsive styles (for mobile) */
@media (max-width: 768px) {
  .btnNew {
    width: 100%; /* Make buttons take full width on mobile */
    /* margin-bottom: 10px;  */
    font-size: 1.2em !important;
    padding: 20px 20px !important;

  }
}
