/* HomePage.css */

/* Base styles for desktop */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-size: 16px;
  background: white;
  overflow-x: hidden;
  font-weight: normal;
  font-family: "Mulish", sans-serif;
}

/* .main-photo-gap {
  margin-top: 101px !important;
} */

.main-img {
  display: flex;
  zoom: 1.2;
  align-items: center;
  padding: 0 !important;
  width: 100%;
}

 
.info {
  margin-top: -500px;
  margin-bottom: 60px;
  margin-left: 7%;
  margin-right: 40%;
   
}

.info h1 {
  color: white;
  font-size: 60px;
  font-weight: bold;
}

.info p {
  margin-right: 40%;
  color: white;
  font-size: 25px;
  padding-top: 20px;
}

.home-container {
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.home-content {
  text-align: center;
  padding: 11px;
  padding-top: 0px !important;
  width: 100%;
  max-width: 1200px;
}

.content-below-line {
  display: flex;
  align-items: center;
  width: 100%;
}

.grid-container {
  display: grid;
  width: 95%;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.offering {
  display: flex;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  padding: 29px 24px;
  border-radius: 20px;
  background: #fff;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.offering:hover {
  background-color: #f0f0f0;
  box-shadow: 0px 0px 20px rgba(81, 110, 239, 0.8);
}

.offering a {
  text-decoration: none;
}

.offering img {
  height: 60px;
  width: 60px;
}

.features-caption {
  padding-left: 19px;
}

.features-caption h3,
.features-caption p {
  margin-left: 0;
  text-align: left;
}

.features-caption h3 {
  color: #4255a4 !important;
  font-size: 20px;
  line-height: 1.2;
  margin-bottom: 10px;
  font-weight: 700;
}

.features-caption h3:hover {
  color: blue !important;
}

.features-caption p:hover {
  color: blue !important;
}

.features-caption p {
  font-size: 17px;
  line-height: 1.5;
  color: #4255a4 !important;
  margin-bottom: 0;
}

.courses-area .properties {
  margin: 0 15px;
}

.courses-area .properties__card {
  box-shadow: 0px 6px 6px 0px rgba(2, 25, 65, 0.08);
  border-radius: 10px;
  transition: 0.4s;
}

.courses-area .properties__card:hover {
  box-shadow: 0px 8px 8px 0px rgba(2, 25, 65, 0.08);
}

.courses-area .properties__img img {
  width: 100%;
  border-radius: 10px 10px 0 0;
}

.courses-area .properties-caption {
  padding: 29px 20px 20px 20px;
  display: flex;
  flex-wrap: wrap;
}

.courses-area .properties-caption h3 {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 6px;
}

.courses-area .properties-caption h3 a {
  text-decoration: underline transparent;
}

.courses-area .properties-caption h3 a:hover {
  text-decoration: underline;
  color: #4255a4;
}

.courses-area .properties-caption p {
  color: #6e7697;
}

.courses-area .properties-caption p span {
  color: #c86fff;
  font-size: 16px;
}

.courses-area .properties:hover .border-btn2 {
  color: #fff;
  background: #ff9f67;
  transition: 0.4s;
}

.container {
  margin-top: 100px;
  margin-bottom: 100px;
}

.h2margin {
  margin-bottom: 50px;
  font-family: "Josefin Sans", sans-serif !important;
  color: #4255a4 !important;
}

.course-area-container {
  padding-left: 0px;
  padding-right: 0px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1500px !important;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.properties-caption {
  align-items: flex-start !important;
  display: flex !important;
  flex-wrap: wrap !important;
}

.courseareap {
  font-family: "Mulish", sans-serif;
  color: #10285d;
  font-size: 16px;
  line-height: 30px;
  margin-bottom: 15px;
  font-weight: normal;
}

.courseareah {
  font-family: "Josefin Sans", sans-serif;
  color: #4255a4;
  margin-top: 0px;
  font-style: normal;
  font-weight: 400;
  text-transform: normal;
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
}

.about-area3 .support-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.align-items-center {
  align-items: center !important;
}

.about-area3 .support-wrapper .left-content3 {
  width: 50%;
  padding: 20px;
}

.about-area3 .support-wrapper .right-content3 {
  width: 50%;
  padding: 20px;
  position: relative;
}

.about-area3 .support-wrapper .right-content3 .right-img img {
  width: 100%;
}

.h2area3 {
  font-family: "Josefin Sans", sans-serif;
  color: #4255a4 !important;
  margin-top: 0px;
  font-style: normal;
  font-weight: 400;
  text-transform: normal;
}

.section-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 80px;
  padding: 0 20px;
}

.left-part {
  width: 50%;
  text-align: center;
}

.left-part img {
  max-width: 100%;
  width: auto;
  height: auto;
}

.right-part {
  width: 50%;
  padding: 20px;
  text-align: center;
  position: relative;
}

.right-part p {
  line-height: 30px;
  margin-bottom: 15px !important;
  font-weight: normal;
  color: #10285d;
}

.right-part h2 {
  margin-top: 0;
  color: #4255a4 !important;
  font-size: 32px !important;
  font-weight: 600;
  line-height: 1.3;
  margin-bottom: 5px;
}

.event-button {
  display: block;
  padding: 10px 20px;
  background-color: #c054ff;
  color: #fff;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.event-button:hover {
  background-color: #5274ff;
}

/* Media Queries */

@media (max-width: 1200px) {
  .info{
    margin-top: -220px !important;
    margin-right: 0%;
  }
   
  .home-content {
    padding: 10px;
  }

  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .course-area-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  
  .main-img{
    height: 200px;
    width: 120%;
  }
  .info{
    margin-top: -220px !important;
    margin-right: 0%;
  }
   
  .info h1 {
    font-size: 40px;
  }

  .info p {
    font-size: 18px;
  }
  .right-it{
    width: 70% !important;
    text-align:center;
     margin-top: 20px !important;
    margin-left: 30px !important;
  }

  .content-below-line {
    flex-direction: column;
  }

  .grid-container {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .course-area-container {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 576px) {
  .info h1 {
    font-size: 30px;
  }

  .info p {
    font-size: 16px;
  }

  .about-area3 .support-wrapper .left-content3 {
    width: 100%;
  
  }
  
  .about-area3 .support-wrapper .right-content3 {
    width: 100%;
    
  }
  .left-part {
    width: 100%;
  }
  .right-part {
    width: 100%;
  }
  .right-part h2 {
    font-size: 24px;
    padding: 0%;
  }
  .section-container {
    
    flex-direction: column;
    
  }
  
}
